
<div class="contact-back">
<div class="eight">
    <h1>Get In Touch</h1>
  </div>


<mat-card class="back" fxLayout="row" fxLayoutAlign="space-around center">

            <div fxLayout="column" fxLayoutAlign="space-around center">
                    <div >
                    LET US KNOW YOUR VIEWS! 
                    What do you like about our service? How can we improve? 
                    Write to us with your views. We look forward to receiving praise and criticism,
                    suggestions, tips, wishes and ideas as to how we can become even better for you.
                    </div>
        
                    <div class="image" fxFlex="50">
                    <img src="../../assets/cat.png" alt=""
                        >
                    </div>
            </div>
            
    
            <mat-card class="f1" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutAlign="space-around center">
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <input matInput placeholder="Full Name" formControlName="FullName" ngModel="name">
                </mat-form-field>
                
        
                <mat-form-field class="example-full-width" appearance="fill">
                    <input type="email" matInput placeholder="email" formControlName="Email" ngModel="email">
                </mat-form-field>
                
                <mat-form-field class="example-full-width" appearance="fill">
                    <textarea  type="text" matInput placeholder="write your message here" formControlName="message" ngModel="message">
                    </textarea>
                    </mat-form-field>
                
                
                <div fxlayout="row" fxLayoutGap="20px">
                    <button class="btn" type="submit" mat-stroked-button>Send</button>
                </div>
        
            </mat-card>

        
        
            
</mat-card>


<div classe="cordonnee" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutAlign="space-around center">
    <h3> <i class="fa fa-phone" aria-hidden="true"></i> Phone : +2125226-46600</h3> 
    <h3> <i class="fa fa-envelope" aria-hidden="true"></i>  Email : Adopt-Me@gmail.com</h3>
    <h3> <i class="fa fa-map-marker" aria-hidden="true"></i> Location : 380 Bd Brahim Roudani, Casablanca</h3>

</div>


