<div class="container" fxLayout="column" fxLayoutAlign="space-evenly center">

    
        <h1>Discover rescue pet foster care </h1>
        <div class="image" fxFlex="50">
            <img src="../../assets/pet-family.jpg" alt="">
        </div>
        <h1>All your foster questions answered</h1>
    
    
    
        <h2>What is pet foster care?</h2>
        <ul>Pet foster care provides a safe, nurturing environment for a homeless pet
           until a permanent home is found. Many rescue groups don’t have shelter 
           facilities to house pets, but rely on a network of foster carers to care 
           for pets in their own homes. Some shelters and pounds also rely on foster 
           carers to provide care for sick, injured or very young pets until they are
            ready to be adopted.</ul>
    

    
        <h2>Why is pet foster care so important?</h2>
        <ul>Every foster carer is saving the life of a pet. 
           Rescue groups can only take on a pet if they know 
           they have a carer to foster it. Without a carer 
           available, a pet may face a very uncertain future in the pound.</ul>
    
        
       <h2>What is the biggest reward from fostering a pet?</h2>
       <ol>
        <li>You’re providing a safe and nurturing environment for a pet that’s in desperate 
            need of a second chance. Foster pets are healthy and treatable pets who just need a
             comfortable place to stay for a while, and to be shown a little love and kindness 
             to help them feel safe, or to recover from injury or illness.
        </li> 
        <li> You’re creating a happy, adoptable pet that’s able to adapt easily to life in a 
            family home. Foster caring allows a much smoother transition when the pet is placed
             into his new home. As you can imagine, being kept in a pound or shelter can be very
              stressful and traumatic for many animals. In your home, they can feel safe and secure.
               They can be nurtured, exercised and socialised - all of which will help them adapt 
               more easily to family life when they do find their forever home.</li>
        <li>
            You’re helping to ease the strain on local rescue shelters. Every week, hundreds 
        of companion animals end up in shelters and pounds through no fault of their own. 
        Many shelters and rescue groups rely on networks of compassionate foster carers to
         provide a temporary home for pets that they would not otherwise be able to save, 
         due to limited space. In fact, more than 70% of the pets listed on PetRescue are
          in pet foster care and the more foster carers our rescue groups and shelters can
           reach out to, the more lives they can save in your local community.
        </li>
        <li>
            You can 'try before you buy'. Fostering is a great opportunity for you to see 
        if a particular pet or type of pet (small dog, large dog, cat, rabbit or other pet)
         is the right fit for your family and lifestyle.
        </li>

         <li>
            It makes you the most awesome parent. When you foster a pet, you’re teaching your
         kids a valuable lesson in being compassionate, caring and giving others a second chance.
         </li>
         
        <li> You can share your life with every kind of pet. You and your family can experience
         the joy of sharing your life and home with many different types and sizes of pets, 
         big dogs, little dogs, cats, rabbits, birds and more.</li>
           
        <li> You’ll make more friends. As well as making a new furry friend every time you foster,
         if you foster a dog you’ll find lots of people want to come over and say hi to you and
          your foster friend. It’s a great way to get to know more people in your local community.</li>
          
        <li>It’s a more flexible way of having a pet in your life. You can choose to foster at a
         time that’s convenient for you and your lifestyle. Perhaps, you’re not ready to commit
          to owning a pet, but you can commit to looking after a pet for a few months. Although,
           it’s important to note that the time you have your foster pet can vary from just a 
           week to several months, depending on how long it takes to find the perfect forever home.
       </ol>




</div>
