<div class="container" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="description" fxFlex="40">
        <h1  >Finding Homes for Homeless Pets Is What We Do!</h1>

        <h3>"We're Pet Lovers Trying to Make a Difference"</h3>
        <p>
            Welcome to Adopt-Me.com. We're all about getting homeless pets into homes.

            We help over 21,000 animal shelters, humane societies, SPCAs, pet rescue groups,
            and pet adoption agencies advertise their homeless pets to millions of adopters
            a month, all for free. And now, we’re a Kinship company too. Haven’t heard of 
            them yet? They’re a coalition of brands, teams, and partners, all using their 
            individual strengths to help bring more care to pet care.
        </p>
    </div>


    <div class="image" fxFlex="50">
        <img src="../../assets/home-img.jpg" alt=""
            width="650px" height="400px">
    </div>
</div>


<div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="image" fxFlex="50">
        <img src="../../assets/home-img2.webp" alt=""
            width="600px" height="400px">
    </div>
        <p>We use the power of the Internet to connect adopters with shelter pets and 
        help pets go from alone to adopted. We're working to help the good people at 
        shelters and rescue groups find homes for their pets. But we don't stop there.
        We also provide useful and informative information on the human/companion animal 
        relationship to help keep pets healthy and permanently in their loving homes.
        Our blog has articles, and our YouTube channel has useful pet training as well
        as entertaining videos, all produced by our expert staff of professionals in 
        animal training and behavior, as well as human psychology.
</p>

</div>



