<section class="home">

    <video class="back-video" autoplay loop muted plays-inline>
        <source src="../../assets/v2.mp4" type="video/mp4">
    </video>
    <!-- <img src="../../assets/h1.jpg"> -->
    
    <div class="homecontent">
        <!-- <h1>Finding Homes for Homeless Is What We Do!</h1> -->
    </div>
</section>


 <section class="about-container">
    <h1 class="s2">"We're Pet Lovers Trying to Make a Difference"</h1>
    <p>
            Welcome to Adopt-Me.com. We're all about getting homeless pets into homes.
            We help over 21,000 animal shelters, humane societies, SPCAs, pet rescue groups,
            and pet adoption agencies advertise their homeless pets to millions of adopters
            a month, all for free. And now, we’re a Kinship company too.
            Haven’t heard of them yet? They’re a coalition of brands, teams, and partners, all using their 
            individual strengths to help bring more care to pet care.
            
    </p>
    <button mat-raised-button color="primary">Join Now</button>

     <!-- <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <img src="../../assets/about2 (1).jpg" alt="" >
        <img src="../../assets/about2 (2).jpg" alt="">
        <img src="../../assets/about2 (3).jpg" alt="">
     </div> -->
    </section> 

