<div class="container" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="description" fxFlex="40">
        <h1>Who we are?</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et est eleifend, accumsan diam vitae,
            molestie nulla. Praesent a tristique lacus, quis pulvinar velit. Morbi iaculis aliquam ante, venenatis
            malesuada ligula blandit fermentum. Aliquam erat volutpat. In eu urna ac odio pharetra venenatis
            ultrices et
            purus. Fusce at venenatis lorem, ac mollis ligula. Nullam sagittis sodales velit, eu rhoncus ipsum
            luctus
            vel. Cras purus elit, finibus eu odio ut, placerat sollicitudin dolor. Nulla quis gravida sem. Nullam
            vehicula, orci in malesuada vehicula, nibh libero mollis risus, et elementum nisi ipsum in mauris.

            Nullam sit amet interdum nisi. Donec imperdiet, diam vitae scelerisque porta, elit tellus scelerisque
            quam,
            vel finibus lorem velit sed elit. Sed at libero malesuada, efficitur risus et, accumsan dui.
            Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam pretium metus
            dolor,
            id consectetur ligula gravida vel. Quisque vel dolor quam. Sed accumsan est ut ligula imperdiet, ac
            dignissim ante scelerisque. Pellentesque blandit felis a odio varius placerat. Suspendisse ac tincidunt
            est.


        </p>
    </div>


    <div class="image" fxFlex="50">
        <img src="https://i.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U" alt=""
            width="70%">
    </div>

</div>